.container {
  width: 402px;
  height: 469px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 50px -3px rgba(0,0,0,0.1);
}
.carga {
  width: 338px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  border-radius: 8px;
}
.figure {
  width: 338px;
  height: 218px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rectangle {
  width: 338px;
  height: 255px;
  background-color: rgba(246, 248, 251, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 3px dashed rgba(151, 190, 244, 1)
}

.image {
  background-color: white;
  width: 114px;
  height: 88px;
}
.text {
  color: black;
}
.subtext,
.subtext2{
  color:rgba(189, 189, 189, 1);
} 

.button {
  width: 101px;
  height: 32px;
  display: block;
  border-radius: 8px;
  background-color: #2F80ED;
  color: white;
  border: 1px solid #97BEF4;
  cursor: pointer;

}